.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.2em;
  margin-bottom: 2em;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  margin-left: 0.5em;
}

.link_items {
  display: flex;
  list-style: none;
}

.link_items li {
  margin-right: 1.3em;
}

.link {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
}
.linkh1 {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  border-color: #fff;
}
